.header{
  display: flex;
  justify-content: center;
}
.h2{
  border: 1px solid black;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 7vh;
  background-color: aqua;
}